<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Soles del piedemonte</title>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/estilo.css" media="screen"/>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>

    </head>

    <header>
        <div class="marcagrande" align=center>
            <img src="img/marcagrande.png" alt="imagen_de_la_marca_grande" >
        </div>
        
        <div class="containerlittle">
                <ul class="menu-little menu">
                    <img src="img/marcagrande.png" alt="imagen_de_la_marca_grande">
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#nuestrahistoria">Nuestra Historia</a></li>
                    <li><a href="#nuestrostrabajos">Nuestros Trabajos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
               </ul>
        </div>
    </header>
    
    <body>

    <section id="portada" class="slide portada">
        <div class="containerbig">
            <ul class="menu-big menu" align=center>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#nuestrahistoria">Nuestra Historia</a></li>
                <li><a href="#nuestrostrabajos">Nuestros Trabajos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </div>
    </section>
    <table class="tablecero">
        <tr>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
        </tr>
    </table>
    <section id="inicio" class="slide inicio">
        <article class="seccion-inicio">
            <div class="descripcion"> 
                <p> 
                    El taller "Soles del Piedemonte" es un grupo de personas especialistas en costura, que se dedica a la confección y arreglos de prendas en general. Sus trabajos incluyen ropa para bebés, niños, adultos y además indumentaria de trabajo, prendas de uso diario y ropa de alta costura.
                 </p>
                                
            </div>  

            <!--agregué p class-->
            <!--cambié orígenes de h2 por h1 y lo puse acá arriba del div-->

            <h1>Orígenes </h1>

            <div class="origenes">  

                <p class="origenizquierdo">
                    Todo inició con el curso gratuito de costura "Soles del Oeste" en el año 2004 integrado por un grupo reducido de mamás adolescentes. Junto con la profesora Adriana Gómez, las mamás emprendieron el curso con escasos materiales de trabajo (dos máquinas) pero con un entusiasmo que creció con cada amanecer.
                    Al principio utilizaron prendas para reciclarlas o arreglarlas. Pero luego con el correr del tiempo y con el apoyo de la Municipalidad de la Ciudad de Mendoza, “Soles del Oeste” pudo obtener recursos como máquinas, telas, accesorios de mercería y otras materias primas. Así, las mamás pudieron empezar a confeccionar sus propios diseños.</p>
                <p class="origenderecho">   
                    Gracias a la difusión de boca en boca, las personas se fueron enterando de la existencia del curso gratuito. Las cursantes entendieron que de esta manera podían aprender una profesión y a crear su propio negocio como modistas.
                    Este ultimo año el curso convoco a 5 chicas para emprender un nuevo proyecto llamado "Soles del Piedemonte". El desafío que este emprendimiento demandaba era digno de estas chicas. Por eso hoy por hoy “Soles del Piedemonte” se ha afianzado gracias a la voluntad y el trabajo de las chicas, que a base de esfuerzo buscan la mejor calidad de sus productos pero por sobretodo un mejor futuro.

                </p>
            </div>
                         
        </article>
    </section>

    <table class="tableuno">
        <tr>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
        </tr>
    </table>

    <section id="nuestrahistoria" class="slide nuestrahistoria">
        <h1>Nuestra Historia</h1>

    <!--borré un ul q no sé por qué estaba ahí, no tenía sentido y moví participaciones abajo-->
    <!--ahora las fotos están acá-->
    <!--agregamos este div con guille "#contenedor-historia"-->
        
    <div id="contenedor-historia">
            <div class="fotoshistoria">
                <img src="fotos Soles/adriana.jpg" alt="Adriana expositora"border="0"/>
                <img src="fotos Soles/adrianaconreina.jpg" alt="Adriana con reina"border="0"/>
                <img src="fotos Soles/adrianaconsr.jpg" alt="Intendente"border="0"/>
            </div>

    <!--cambié el nombre de la clase del div y agregué otro div abajo para poder manejarlos con css-->

            <div class= "formacionizquierda">

    <!--agregué div class="titulosformacion" para darle una alineación diferente a la del texto-->

                <div class="titulosformacion">

    <!--quité el título Formación profesional porq con el nombre de adriana y la reseña del h3 ya alcanza para mostrar de q se trata-->
    
                    <h2> Adriana Isabel Gómez </h2>
                    <h3> Profesora de Corte y Confección; Coordinadora del Taller “Soles del Piedemonte” </h3>
                </div>
                    <p>
                    Adriana comenzó con sus estudios de corte y confección a los 13 años, en un curso que se extendió por 3 años. Posteriormente comenzó a trabajar en la fabrica ADIDAS, confeccionando la ropa de deporte para la Selección Argentina en el Mundial de Futbol del año 1978.

                    Tras su labor en ADIDAS, Adriana trabajó en distintos talleres de costura y así alcanzó una alta experiencia en el mundo de la moda. Los pasos de la vida la guiaron a Mendoza donde se radicó y donde empezó a construir lo que hoy es el curso y taller "Soles del Oeste" y "Soles del Piedemonte".

                    A pesar de estar al frente de sus propios cursos, Adriana siempre continuó capacitándose asistiendo a diversos talleres y cursos <!--saqué "de diversa índole" para que se vea mejor el justicado-->para mejorar y adquirir nuevos conocimientos.
                    <br><br> <!--agregué <br><br> para q el div de participaciones bajara a la altura de la foto-->
                    </p>
                </div>

    <!--quité la ul porq no puede estar dentro de un p y agregué la lista a p como texto con saltos de línea-->

            <div class= "formacionderecha">

    <!--agregué <br><br> en el texto para los saltos de línea y espacios--> 

    <!--agregué un h3 para presentar los cursos y cambié el texto por una cuestión visual-->                    

                    <p>
                    <h3>Algunos de los cursos que concretó:<br><br></h3>
                    Taller de capacitación en metodología GRAMEEN,"DESARROLLO DE NEGOCIOS Y HABILIDADES SOCIALES" 2004 <br><br>
                    Jornada de "DISEÑO, MARKETING Y ESTRATEGIAS DE COMERCIALIZACIÓN" 2005 y 2006 <br><br>
                    Proyecto "FORTALECIMIENTO DE LA GESTIÓN DE LOS MICROEMPRENDEDORES" beneficiarios del programa MANOS A LA OBRA 2006 <br><br>
                    Proyecto de capacitación: "LÍDERES COMUNITARIOS DE LA SOCIEDAD CIVIL" 2006 Y 2007; certificado de: "COORDINADORA" 2010 <br>
                    </p>
            </div>
        </div>
    <!--borré un cierre de ul y puse las fotos más arriba-->
    <!--ahora las participaciones están acá y cambié la P mayúscula del class por una minúscula, re obsesiva, perdón... jaja-->

        <div class= "participaciones">
                <h2>Participaciones</h2>
                <p>
                    El taller "Soles del Piedemonte" y el curso "Soles del Oeste" han participado de diferentes actividades curriculares. Entra ellas se destacan exposiciones en el Parque Central, el evento Música Clásica por los Caminos del Vino, la Peatonal del Vino, la Feria de Logros en el espacio cultural Julio Le Parc y diversos eventos realizados en la Plaza Independencia. 
                </p>
            </div>

    </section>
        <table class="tabledos">
        <tr>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
        </tr>
    </table>

    <section id="nuestrostrabajos" class="slide nuestrostrabajos">
        <h1 class="titulonuestrostrabajos">Nuestros Trabajos</h1>
        
        <div class="menufotorama">
        <ul class="categorias-nuestrostrabajos fotorama-nav">
            
            {% for categoria in categorias %}
            
                <li data-show="#fotorama{{forloop.counter}}">{{categoria.nombre}}</li> <nav class="subrayado"></nav>

            {% endfor %}
            
        </ul>
        </div>
            
        <div class="fotorama" data-auto="false"></div>

        {% for categoria in categorias %}  
            <div class="fotorama" id="fotorama{{forloop.counter}}" data-auto="false">

            {% for imagen in imagenes %}    
                {% if imagen.categoria_id == categoria.id %}
                    <img src="{{imagen.imagen_thumbnail.url}}">
                {% endif %}
            {% endfor %}    
            </div>
        {% endfor %}
    
        
    </section>

    <table class="tabletres">
        <tr>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
           <th class="vacio"> </th>
           <th class="color"> </th>
        </tr>
    </table>


    <!-- Contacto -->
    <section id="Formulario">
        <div class="contenedor">
                <h1>"Contacto"</h2>
                <p>Para realizar sus consultas complete el formulario de abajo o comuníquese al teléfono +54-261-4201336</p>
            </header>
        <div class="box container small">
                    
        <!-- Contact Form -->
        <form method="POST" action="{% url "contact_form" %}">
            {% csrf_token %}
                            {{ form.non_field_errors }}
            <div class="row half">
                <div class="6u"><input type="text" name="name" placeholder="Nombre"  value="{% if form.name.value %}{{ form.name.value }}{% endif %}" required /><p>{{ form.name.errors }}</p></div>

                <div class="6u"><input type="email" name="email" placeholder="Email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" required /><p>{{ form.email.errors }}</p></div>
            </div>

            <div class="row half">
                <div class="12u"><textarea placeholder="Mensaje" rows="6" name="message" required>{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea><p>{{ form.message.errors }}</p>
                </div>
            </div>
            <div class="row">
                <div class="12u">
                    
                    <input type="submit" value="Enviar Consulta"/>
                    
                </div>
            </div>
        </form>
         <!--Probando -->   
        </div>
        </div>
    </section>

            <section>                   
    
    <div class="vcard" >
        <p>
            Soles de Piedemonte
        </p>
        <p class="telvc">
            Teléfono: +54296149832489342
        </p>
        <p class="emailvc">
            Email: solesdepiedemonte@gmail.com
        </p>
        <a class="location url" href="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d214331.5185097047!2d-68.81377905!3d-32.92644824999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1411529009965">
        </a>
    </div>
    <footer>
        Soles de Piedemonte 261230444 solesdepiedemonte@gmail.com
    </footer>
    </section>






    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <link  href="http://fotorama.s3.amazonaws.com/4.6.2/fotorama.css" rel="stylesheet"> 
    <script src="http://fotorama.s3.amazonaws.com/4.6.2/fotorama.js"></script> 
    <script src="/js/funciones.js"></script>

    </body>
</html>

